name: SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov  

    - name: Run tests and generate coverage report
      run: |
        pytest --cov=calculator --cov-report=xml:coverage.xml  

    - name: Install OpenJDK 17
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-17-jdk

    - name: Set JAVA_HOME to OpenJDK 17
      run: |
        echo "JAVA_HOME=/usr/lib/jvm/temurin-17-jdk-amd64" >> $GITHUB_ENV
        echo "JAVA_HOME=$JAVA_HOME"
        java -version  
    # Debug Java Home in Docker Container
    - name: Debug Java Home in Docker Container
      run: |
        docker run --rm --entrypoint sh openjdk:17-jdk-alpine -c "echo $JAVA_HOME && java -version"


    - name: Set up SonarCloud scanner
      uses: SonarSource/sonarcloud-github-action@v1.5
      with:
        entryPoint: /opt/sonar-scanner/bin/sonar-scanner 
        args: >
          -Dsonar.projectKey=Kavana179_Calculator-Unit-Testing-Project-in-DevOps
          -Dsonar.organization=kavana179
          -Dsonar.sources=.
          -Dsonar.python.version=3.9
          -Dsonar.python.coverage.reportPaths=coverage.xml
          -Dsonar.language=python
          -Dsonar.host.url=https://sonarcloud.io  
          -Dsonar.java.home=$JAVA_HOME  
      env:
        JAVA_HOME: ${{ env.JAVA_HOME }}  
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }} 
