name: Python CI with SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Checkout code
      - name: Checkout code
        uses: actions/checkout@v2

      # Set up Python
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      # Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
           pip install pytest pytest-cov

      # Run tests with coverage
      - name: Run tests with coverage
        run: |
          pytest --maxfail=1 --disable-warnings -q --cov=calculator --cov-report=xml:coverage.xml

      # Set up Java 17 for SonarScanner
      - name: Set up Java 17
        uses: actions/setup-java@v2
        with:
          java-version: '17'
          distribution: 'temurin'  # You can specify 'temurin' (AdoptOpenJDK) or another distribution

      # Run SonarCloud Analysis
      - name: SonarCloud Analysis
        uses: SonarSource/sonarcloud-github-action@v1.5
        with:
          args: |
            -Dsonar.projectKey=Kavana179_Calculator-Unit-Testing-Project-in-DevOps
            -Dsonar.organization=kavana179
            -Dsonar.sources=.
            -Dsonar.python.version=3.9
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.language=python
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.verbose=true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
