name: Python CI with SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # Step to check out your code
      - name: Checkout code
        uses: actions/checkout@v2

      # Step to set up Python environment
      - name: Set up Python 3.x
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      # Step to install dependencies (if you have requirements.txt)
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest pytest-cov

      # Step to run tests and generate coverage report
      - name: Run tests with coverage
        run: |
          pytest --maxfail=1 --disable-warnings -q --cov=calculator --cov-report=xml:coverage.xml

      # Step to upload to SonarCloud (this step includes sonar-scanner)
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v1.5
        with:
          args: |
            -Dsonar.projectKey=Kavana179_Calculator-Unit-Testing-Project-in-DevOps
            -Dsonar.organization=kavana179
            -Dsonar.sources=.
            -Dsonar.python.version=3.9
            -Dsonar.python.coverage.reportPaths=coverage.xml
            -Dsonar.language=python
            -Dsonar.host.url=https://sonarcloud.io
            -Dsonar.verbose=true
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
