name: SonarCloud Analysis

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest pytest-cov  # Make sure to install pytest-cov plugin

    - name: Run tests and generate coverage report
      run: |
        pytest --cov=calculator --cov-report=xml:coverage.xml  # 'calculator' is your module

    - name: Set up SonarCloud scanner
      run: |
        sudo apt-get update
        sudo apt-get install -y openjdk-17-jdk

    - name: Run SonarCloud analysis
      run: |
        docker run \
          --name sonarcloud-run \
          --workdir /github/workspace \
          --rm \
          -e JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64 \
          -e SONAR_TOKEN=${{ secrets.SONAR_TOKEN }} \
          -e PYTHONPATH=$GITHUB_WORKSPACE \
          -v /var/run/docker.sock:/var/run/docker.sock \
          -v $GITHUB_WORKSPACE:/github/workspace \
          -v $HOME/.sonar/cache:/opt/sonar-scanner/.sonar/cache \
          612be0:b8b7e3c1c39a46a68efc110d8d878847 \
          -Dsonar.projectKey=Kavana179_Calculator-Unit-Testing-Project-in-DevOps \
          -Dsonar.organization=kavana179 \
          -Dsonar.sources=. \
          -Dsonar.language=python \
          -Dsonar.python.version=3.9 \
          -Dsonar.python.coverage.reportPaths=coverage.xml
